.button {
  @include flex-center(true);

  height: var(--button-height);
  padding: 12px 24px;
  font-size: 24px;
  color: var(--color-light);
  background-color: var(--color-accent);
  border: var(--border);
  border-radius: var(--border-button);
  font-weight: bold;

  @include hover {
    color: var(--color-accent);
    background-color: var(--color-gray);
  }

  &-link {
    background: none;
    border: none;
    color: var(--color-gray-alt);
    padding: 0;
    font: inherit;
    cursor: pointer;

    @include hover {
      text-decoration: underline;
      opacity: 0.7;
    }
  }

  &--transparent {
    color: var(--color-dark);
    background-color: transparent;
  }

  &--accent {
    color: var(--color-dark);
    background-color: var(--color-accent);

    @include hover {
      color: var(--color-accent);
      background-color: var(--color-dark);
    }
  }
}