.contact-us {
  display: flex;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  padding: 120px 100px;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);

  @include mobile {
    padding: 24px;
    row-gap: 32px;
  }

  @include mobile-s {
    padding: 20px;
    row-gap: 32px;
  }

  &__header {
    width: 100%;
    text-align: center;

    @include tablet-above {
      max-width: 746px;
    }
  }


  &__form,
  &__body {
    display: flex;
    flex-direction: column;
  }


  &__request-types,
  &__body {
    @include mobile {
      background-color: var(--color-gray);
    }
  }


  &__form {
    @include tablet-above {
      max-width: 746px;
      width: 100%;
    }

    @include mobile-above {
      row-gap: 32px;
    }

    @include mobile {
      padding: 20px;
    }

    @include mobile-s {
      padding: 0;
    }
  }

  &__body {
    row-gap: 16px;

    @include mobile {
      row-gap: 16px;
      padding: 44px 0 50px;
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }

    @include mobile-s {
      padding: 40px 0 30px;
    }
  }
}