.section {
  padding-block: var(--section-padding-y);

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 32px;

    @include mobile {
      flex-direction: column;
      row-gap: 4px;
      text-align: center;
      br {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 48px;

      @include mobile {
        margin-bottom: 32px;
      }
    }
  }

  &__description {
    max-width: 580px;
  }
}