.soc1als {
  &__list {
    display: flex;
    column-gap: 24px;
  }

  &__link {
    @include flex-center(true);
    @include square(44px);

    color: var(--color-dark);
    background-color: var(--color-light);
    border-radius: 50%;
    transition: background-color 0.3s ease;

    @include hover {
      background-color: var(--color-accent);
      color: var(--color-light);
    }

    svg {
      width: 50%;
      height: 50%;
      transition: fill 0.3s ease;
      transform: translateX(-1px);
    }
  }
}
